<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">

    <!--
        Add a logger config to see logging messages.
        - For more detailed logs, set values to "FINEST"
     -->
    <bean id="myLoggerConfig" class="learn.spr.sh4b.springdemo.LoggerConfig" init-method="initLogger">
        <property name="rootLoggerLevel" value="FINE"/>
        <property name="printedLoggerLevel" value="FINE"/>
    </bean>

    <bean id="myFortune" class="learn.spr.sh4b.springdemo.HappyFortuneService"/>

    <!--<bean id="myCoach" class="learn.spr.sh4b.springdemo.TrackCoach">
        <constructor-arg ref="myFortune"/>
    </bean>-->
    <bean id="myCoach" class="learn.spr.sh4b.springdemo.BaseballCoach">
        <constructor-arg ref="myFortune"/>
    </bean>

    <!-- Load the properties file -->
    <context:property-placeholder location="sport.properties"/> <!-- In course:  classpath:sport.properties -->

    <bean id="myCricketCoach" class="learn.spr.sh4b.springdemo.CricketCoach">
        <!-- Set up setter injection -->
        <property name="fortuneService" ref="myFortune"/>

        <!-- Set up literal values injection -->
        <property name="emailAddress" value="${cricket.coach.email}" />
        <property name="team" value="${cricket.team}" />
    </bean>

</beans>
